<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-ng-app="bookPlus">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous" />
    <link th:href="@{https://fonts.googleapis.com/css?family=Varela+Round}" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <title>Title</title>
</head>
<body>
<div class="ctnr" th:fragment="adminList">
    <div class="col-md-12">
        <header>
            <h1>Admins</h1>
        </header>
        <main>
            <p th:text="${message}"/>
            <div class="media title">
                <div class="media-body">
                    <div class="col-sm-2">S.No</div>
                    <div class="col-sm-2">First Name</div>
                    <div class="col-sm-2">Last Name</div>
                    <div class="col-sm-2">Email</div>
                    <div class="col-sm-2">Enabled</div>
                    <div class="col-sm-2">Operations</div>
                </div>
            </div>

            <div class="media book"  th:each="admin,iterationStatus:${admins}">
                <div class="col-sm-2" th:text="${iterationStatus.count}">1</div>
                <div class="col-sm-2" th:text="${admin.firstName}">Group05</div>
                <div class="col-sm-2" th:text="${admin.lastName}"></div>
                <div class="col-sm-2" th:text="${admin.email}"></div>
                <div class="col-sm-2" th:text="${admin.enabled}"></div>



                <div class="col-sm-2" th:if="${currentAdmin.id != admin.id}">
                    <a th:href="@{/admin/edit/{id}(id=${admin.id})}">
                        Enable
                    </a>  |
                    <a th:href="@{/admin/delete/{id}(id=${admin.id})}">
                        Delete
                    </a>
                </div>
            </div>
        </main>

    </div>
</div>
</body>
</html>