<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-ng-app="bookPlus">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous" />
    <link th:href="@{https://fonts.googleapis.com/css?family=Varela+Round}" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <title>Title</title>
</head>
<body>
<div class="ctnr" th:fragment="adminList">
    <div class="col-md-12">
        <header>
            <h1>Admins</h1>
        </header>
        <main>
            <p th:text="${message}"/>
            <table class="table">
                <th>S.No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Operations</th>
                <tr th:each="admin,iterationStatus:${admins}">
                    <td th:text="${iterationStatus.count}">1</td>
                    <td th:text="${admin.firstName}">Group05</td>
                    <td th:text="${admin.lastName}"></td>
                    <td th:text="${admin.email}"></td>
                    <td th:text="${admin.enabled}"></td>



                    <td th:if="${currentAdmin.id != admin.id}">
                        <a th:href="@{/admin/edit/{id}(id=${admin.id})}">
                            Enable
                        </a>  |
                        <a th:href="@{/admin/delete/{id}(id=${admin.id})}">
                            Delete
                        </a>
                    </td>
                </tr>
            </table>
        </main>

    </div>
</div>
</body>
</html>