<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  data-ng-app="bookPlus">
<head th:replace="/includes/head :: head">

</head>
<body>
<div class="ctnr" data-ng-controller="BookController as bookCtrl"
     th:attr="ng-init='bookCtrl.initialize(\''+${@environment.getProperty('project.baseurl')}+'\')'">
    <header class="col-md-12" th:replace="/includes/header :: header">

    </header>
    <div class="clear"></div>
    <main>
        <aside id="left" class="col-md-3">
            <section class="side-menu" th:replace="/includes/categories :: categories">

            </section>
            <section class="special-product" th:replace="/includes/specials :: specials">

            </section>
        </aside>
        <aside id="right" class="col-md-9">
            <section class="carousel index" th:replace="/includes/carousel :: carousel">

            </section>
            <section class="banners index" th:replace="/includes/banners :: banners">

            </section>
            <section class="newProducts index" th:replace="/includes/newProducts :: newProducts">

            </section>
            <section class="products" th:replace="/includes/products :: products">

            </section>
        </aside>
        <div class="clear"></div>
    </main>
    <footer>
        <div class="title">
            <p>Footer items go here...</p>
        </div>
        <div style="height: 50px;">

        </div>
        <div class="clear"></div>
    </footer>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div th:replace="/includes/scripts :: scripts"></div>
</body>
</html>