<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-ng-app="bookPlus">
<head>
    <meta charset="UTF-8" />
    <title>BookPlus - Admin Category</title>
</head>
<body>
<div th:fragment="categoryList" class="ctnr" data-ng-controller="BookController as categoryCtrl"
     th:attr="ng-init='categoryCtrl.initialize(\''+${@environment.getProperty('project.baseurl')}+'\')'">
    <header>
        <h1>Categories</h1>
        <a class="btn btn-success btn-large" th:href="@{/admin/category/add}">Add New</a>
    </header>
    <main>
        <p th:text="${message}"/>
        <div class="media title">
            <div class="media-body">
                <div class="col-sm-2">S.No</div>
                <div cla4s="col-sm-2">Name</div>
                <div class="col-sm-2">Description</div>
                <div class="col-sm-2">State</div>
                <div class="col-sm-2">Operations</div>
            </div>
        </div>
        <div class="media book" data-ng-repeat="category in categoryCtrl.categories">
            <div class="media-body">
                <div class="col-sm-2">{{$index+1}}</div>
                <div class="col-sm-2">{{category.name}}</div>
                <div class="col-sm-4">{{category.description}}</div>
                <div class="col-sm-2">{{category.state}}</div>
                <div class="col-sm-2">
                    <a href="/admin/category/edit/{{category.id}}">Edit</a> |
                    <a href="#" ng-click="categoryCtrl.deleteCategory(category.id)">Delete</a>
                </div>
            </div>
        </div>


    </main>
</div>
</body>
</html>