<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-ng-app="bookPlus">
<head>
    <meta charset="UTF-8" />
    <title>BookPlus - Admin Category</title>
</head>
<body>
<div th:fragment="categoryList" class="ctnr" data-ng-controller="BookController as categoryCtrl"
     th:attr="ng-init='categoryCtrl.initialize(\''+${@environment.getProperty('project.baseurl')}+'\')'">
    <header>
        <h1>Categories</h1>
        <a class="btn btn-success btn-large" th:href="@{/admin/category/add}">Add New</a>
    </header>
    <main>
        <p th:text="${message}"/>
        <table class="table">
            <th>S.No</th>
            <th>Name</th>
            <th>Description</th>
            <th>State</th>
            <th>Operations</th>

            <!-- Looping Thymleaf Style -->
            <!--<tr th:each="category,iterationStatus:${categories}">-->
                <!--<td th:text="${category.id}"></td>-->
                <!--<td th:text="${category.name}"></td>-->
                <!--<td th:text="${category.description}"></td>-->

                <!--<td><a th:href="@{/admin/category/edit/{id}(id=${category.id})}">-->
                    <!--Edit-->
                <!--</a>  |-->
                    <!--<a th:href="@{/admin/category/delete/{id}(id=${category.id})}">-->
                        <!--Delete-->
                    <!--</a> </td>-->
            <!--</tr>-->
            <tr data-ng-repeat="category in categoryCtrl.categories">
                <td>{{$index+1}}</td>
                <td>{{category.name}}</td>
                <td>{{category.description}}</td>
                <td>{{category.state}}</td>
                <td>
                    <a href="/admin/category/edit/{{category.id}}">Edit</a> |
                    <a href="#" ng-click="categoryCtrl.deleteCategory(category.id)">Delete</a>
                </td>
            </tr>
        </table>
        </main>
</div>
</body>
</html>