<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Order Deatil</title>
</head>
<body>
<div th:fragment="orders">
    <header>
        <h1>Orders</h1>
    </header>
    <main>
        <table>
            <th>Number</th>
            <th>Delivery Date</th>
            <th>Sub Total</th>
            <tr th:each="order,iterationStatus:${OrderDetail}">
                <td th:text="${order.getId()}"></td>
                <td th:text="${order.getOrderDate()}"></td>
                <td th:text="${order.getTotalOrderPrice()}"></td>
            </tr>
        </table>
    </main>

</div>
</body>
</html>