<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Order Deatil</title>
</head>
<body>
<div th:fragment="orders">
    <header>
        <h1>Orders</h1>
    </header>
    <main>
        <div class="media title">
            <div class="media-body">
                <div class="col-sm-4">Number</div>
                <div class="col-sm-4">Delivery Date</div>
                <div class="col-sm-4">Sub Total</div>
            </div>
        </div>
        <div class="media book" th:each="order,iterationStatus:${OrderDetail}">
                <div class="col-sm-4" th:text="${order.getId()}"></div>
                <div class="col-sm-4" th:text="${order.getOrderDate()}"></div>
                <div class="col-sm-4" th:text="${order.getTotalOrderPrice()}"></div>
        </div>
    </main>

</div>
</body>
</html>