<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<section class="side-menu" th:fragment="categories" data-ng-controller="BookController as categoryCtrl"
         th:attr="ng-init='categoryCtrl.initialize(\''+${@environment.getProperty('project.baseurl')}+'\')'">
    <div class="title">
        <p>Categories</p>
    </div>
    <div class="nav-side-menu">
        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">

                <li data-ng-repeat="category in categoryCtrl.categories">
                    <!--/category/{{$index+1}}-->
                    <a href="#" data-ng-click="categoryCtrl.getBooksByCategoryId(category.id)">
                        <i class="fa fa-user fa-lg"></i> {{category.name}}
                    </a>
                </li>


            </ul>
        </div>
    </div>
</section>

</body>
</html>