<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <header class="col-md-12" th:fragment="header">
        <aside id="left" class="col-md-6">
            <div id="logo"><a href="/home"></a></div>
        </aside>
        <aside id="right" class="col-md-6">
            <a id="login-link" href="login">Sign in/up</a>
            <h3>Welcome to our Online Store</h3>
            <h2><span class="glyphicon glyphicon-shopping-cart"></span>
                <span>My Cart: </span> 0 items - $0.00</h2>
        </aside>
        <div class="clear"></div>
        <nav id="navigation" class="navbar navbar-default col-md-12">
            <div id="nav-ctnr" class="container-fluid col-md-12">
                <ul class="nav navbar-nav col-md-7">
                    <li><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form id="search" name="search" class="navbar-form navbar-left col-md-5" role="search">
                    <div class="form-group">
                        <label class="search-box" for="search-box">Search</label>
                        <input id="search-box" type="text" class="form-control" />
                    </div>
                    <button id="search-btn" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div><!-- /.container-fluid -->
        </nav>
        <div class="clear"></div>
    </header>
</body>
</html>