<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<section class="products" th:fragment="newProducts">
    <div class="title">
        <p>New Products</p>
    </div>
    <div class="product">
        <div class="thumb">
            <img th:src="@{/images/books/file_27_9.png}" />
        </div>
        <title>Promises in Death (In Death)</title>
        <p class="price">$42.41></p>
        <button class="add">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Add to cart
        </button>
    </div>
    <div class="product">
        <div class="thumb">
            <img th:src="@{/images/books/file_27_12.png}" />
        </div>
        <title>Promises in Death (In Death)</title>
        <p class="price">$42.41></p>
        <button class="add">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Add to cart
        </button>
    </div>
    <div class="product">
        <div class="thumb">
            <img th:src="@{/images/books/file_27_14.png}" />
        </div>
        <title>Promises in Death (In Death)</title>
        <p class="price">$42.41></p>
        <button class="add">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Add to cart
        </button>
    </div>
    <div class="product">
        <div class="thumb">
            <img th:src="@{/images/books/file_27_16.png}" />
        </div>
        <title>Promises in Death (In Death)</title>
        <p class="price">$42.41></p>
        <button class="add">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Add to cart
        </button>
    </div>
    <div class="product">
        <div class="thumb">
            <img th:src="@{/images/books/file_27_29.png}" />
        </div>
        <title>Promises in Death (In Death)</title>
        <p class="price">$42.41></p>
        <button class="add">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Add to cart
        </button>
    </div>
    <div class="product">
        <div class="thumb">
            <img th:src="@{/images/books/file_29_4.png}" />
        </div>
        <title>Promises in Death (In Death)</title>
        <p class="price">$42.41></p>
        <button class="add">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Add to cart
        </button>
    </div>
</section>

</body>
</html>