<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<section class="products" th:fragment="products" >
    <div class="title">
        <p>Products</p>
    </div>

    <div class="product" data-ng-repeat="book in bookCtrl.books">
            <div class="thumb">
                <img th:src="@{/images/books/{{book.image}}}" />
            </div>
            <title>{{book.name}}</title>
            <p class="price">{{book.price}}</p>
            <button class="add">
                <a href="/cart/productDetail/{{book.id}}">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    Add to cart
                </a>
            </button>
    </div>
    <div data-ng-show="bookCtrl.books.length == 0">No Items</div>

</section>

</body>
</html>