<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <section class="special-product" th:fragment="specials">
        <div class="title">
            <p>Special</p>
        </div>
        <div class="product">
            <div class="thumb">
                <img th:src="@{/images/books/file_3.png}" />
            </div>
            <title>Promises in Death (In Death)</title>
            <p class="price"><span class="regularPrice">$42.41</span> <span class="specialPrice">$40</span></p>
            <button class="add">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                Add to cart
            </button>
        </div>
        <div class="product">
            <div class="thumb">
                <img th:src="@{/images/books/file_27_7.png}" />
            </div>
            <title>Promises in Death (In Death)</title>
            <p class="price"><span class="regularPrice">$42.41</span> <span class="specialPrice">$40</span></p>
            <button class="add">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                Add to cart
            </button>
        </div>
    </section>

</body>
</html>